fiat-form{
  width: 100%;
  section.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    details > summary {
      list-style: none;
    }
    details > summary::-webkit-details-marker {
      display: none;
    }
    details#admin{

      summary.item_content{

        div.item{



        }

      }

    }
  }
}


/*

div{
    font-size: 4vw;
    color: #232f62;
    border: 0.3vw solid #232f62;
    border-radius: 1vw;
    text-transform: uppercase;
    width: 33vw;
    text-align: center;
  }
  section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;

    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .hexagon {
        background-color: seashell;
        width: 20vw;
        height: 20vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
        border: 0.3vw solid #53b796;
        border-radius: 1vw;
      }
      .info{
        border:none;
      }
    }

  }
 */
