@import "/home/sergey/Desktop/telegram/css/fonts_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/media_new.scss";
@import "/home/sergey/Desktop/telegram/css/util/interface";

div.container{

  div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 999999;
    cursor: pointer;
    div.modalContent {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 1vw;
      box-sizing: border-box;
      border: 0.2vw solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      min-height: 30%;
      span.close {
        float: right;
        @include fonts(9);
        color: #232f62;
        font-weight: bold;

        //,&:focus

        &:hover {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

      }
    }
  }
  section.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    div.item{
      box-sizing: border-box;
      border: .22vw solid #ccc;
      border-radius: 1vw;
      padding: 0;
      margin: 2vw;
      width: 45%;
      align-self: flex-start;
      label.details{
        input.input { display: none; }
        input.input + div.summary {opacity: 0;display: none;transition: all .1s ease-in-out;}
        div.content{
          cursor: pointer;
          div.preview{
            background-color: #ccc;
            -moz-border-radius-topleft: 0.7vw;
            border-top-right-radius: 0.7vw;
            border-top-left-radius: 0.7vw;
            -moz-border-radius-topright: 0.7vw;
            display: flex;
            cursor: pointer;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            p{
              //white-space: pre-wrap;
              font-family: Roboto, serif;
              @include fonts(5);
              color: #232f62;
              width: 100%;
              text-align: center;

              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
          }
          div.images{
            display: flex;
            justify-content: center;
            margin-bottom: 1vw;
            margin-top: 1vw;
            a.bid{
              text-align: -webkit-center;
              text-align: center;

              width: 100%;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              img.imgBid{
                width: 75%;
                cursor: pointer;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
              }
            }
          }
          div.timer{
            text-align: center;
            @include fonts(8);
            color: #232f62;
            margin: 2vw;
            @include fonts(9);
            font-family: Roboto, serif;
            cursor: pointer;
          }
          div.price{
            background-color: #ccc;
            @include fonts(8);
            color: #232f62;
            text-align: center;
            margin: 2vw;
            font-family: Roboto, serif;
            box-sizing: border-box;
            padding: 1vw;
            border-radius: 1vw;
            cursor: pointer;
          }
          div.name{
            @include fonts(5);
            color: #232f62;
            font-family: Roboto, serif;
            margin: 2vw;
            text-align: center;
            cursor: pointer;
          }
          div.bid{
            background-color: #53b796;
            width: 25%;
            text-align: center;
            margin: auto;
            @include fonts(9);
            color: #232f62;
            transform: translateY(50%);
            border-radius: 1vw;
            cursor: pointer;
          }
        }
        input.input:checked + div.summary {
          text-align: center;
          //background-color: #53b796;
          opacity: 1;
          //~~~~~~~~~~~~~
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          border-bottom-right-radius: 0.7vw;
          border-bottom-left-radius: 0.7vw;
          border-top: .22vw solid #ccc;
          //~~~~~~~~~~~~~
          div.button{
            display: flex;
            margin-top: 2vw;
            button.bidButton, button.sellButton, button.delete, button.change{
              outline: 0;
              background: -webkit-linear-gradient(top, #fafafa 50%, #e1e1e1 50%);
              border-radius: 1vw;
              cursor: pointer;
              @include fonts(8);
              width: 46%;
              color: #232f62;
              font-family: Roboto, serif;
              position: relative;
              text-align: center;
              flex-grow: 1;
              padding: 1vw;
              margin: 1vw;
              &:hover {
                background: #ddd;
              }
            }
          }
          div.priceSend{
            display: flex;
            div.info, div.priceWinner{
              box-sizing: border-box;
              width: 100%;
              outline: 0;
              background: -webkit-linear-gradient(top, #fafafa 50%, #e1e1e1 50%);
              border-radius: 1vw;
              cursor: pointer;
              @include fonts(3);
              position: relative;
              text-align: left;
              flex-grow: 1;
              margin: 1vw;
              padding: 1vw;
              font-family: Roboto, serif;
              &:hover {
                background: #ddd;
              }
            }

            div.priceWinner{
              flex-direction: column;
              justify-content: space-evenly;
              align-self: center;
              text-align: center;
            }
          }
        }
      }
    }
  }

}


