@import "./docs/css/fonts.scss";
@import "./docs/css/media.scss";
@import "./docs/css/interface.scss";

@mixin h3(){
  @include border();
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  text-align: center;
  font-family: Roboto, serif;
  @include fonts(4);
  text-align-last: left;
  margin: 0;
}
@mixin disabledSelect(){
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                               not supported by any browser */
}
@mixin disabledSelectText(){
  -webkit-user-select: text;   /* Chrome/Safari/Opera */
  -khtml-user-select: text;    /* Konqueror */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;           /* Non-prefixed version, currently
                               not supported by any browser */
}
@mixin padding(){
  box-sizing: border-box;
  padding: 1vw;
}

@mixin border-bottom() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}
@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0.25vw;
  border-radius: 0.5vw;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
}

@mixin sectionInput() {
  box-sizing: border-box;
  text-align: center;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@mixin p(){
  @include border();
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 2vw;
  text-align: center;
}

@mixin border() {
  width: 100%;
  box-shadow: inset 0vw 0vw 1vw 0px #7694f4;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last:center;

}
@mixin figure(){
  @include display(column, nowrap, space-between, center, stretch);
  margin: 0;
  padding: 0;
  width: 100%;
  div.preview {
    font-family: Roboto,serif;
    margin-bottom: 0;
    @include fonts(8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
    align-items: center;
    img{
      width: 100%;
      height: auto;
      //border: 0.3vw solid #8b8e4b;
      border-radius: 0.5vw;
      box-sizing: border-box;
      padding: 1vw;
    }
  }
  label[for="faucet"]{
    width: 100%;
    box-sizing: border-box;
    margin-top: 2vw;
    figcaption#preview{
      p{
        text-align-last: left;
      }

    }
    div.form-container {
      @include display(column, nowrap, space-evenly, center, stretch);
      margin-top: 3vw;
      padding: 1vw;
      box-sizing: border-box;
      width: 100%;
      div.field-container {
        @include display(column, nowrap, space-evenly, center, stretch);
        width: 100%;
        position: relative;
        box-sizing: border-box;
        div.item-name{
          @include display(column, nowrap, space-evenly, center, stretch);
          margin-bottom: 2vw;
          margin-top: 2vw;
          label[for="name"]{
            color: #232f62;
            font-family: Roboto,serif;
            @include fonts(16);
            align-self: start;
            padding-bottom: 1vw;
          }
          input#name{
            box-sizing: border-box;
            color: #232f62;
            font-family: Roboto, serif;
            @include fonts(16);
            padding: 0.5vw;
            border-radius: 0.5vw;
            width: 100%;
            border: 0.4vw solid #dcdcdc;
          }
        }
        div.cardnumber{
          @include display(column, nowrap, space-evenly, center, stretch);
          margin-bottom: 2vw;
          margin-top: 2vw;
          position: relative;
          label[for="cardnumber"]{
            color: #232f62;
            font-family: Roboto,serif;
            @include fonts(16);
            align-self: start;
            box-sizing: border-box;
            padding-bottom: 1vw;
          }
          input#cardnumber{
            box-sizing: border-box;
            color: #232f62;
            font-family: Roboto, serif;
            @include fonts(16);
            padding: 0.5vw;
            border-radius: 0.5vw;
            width: 100%;
            border: 0.4vw solid #dcdcdc;
          }
        }
        div.row{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //width: 100%;
          min-height: 11vw;
          margin-top: 2vw;
          //background-color: aquamarine;
          box-sizing: border-box;
          align-self: stretch;
          div.expirationdate, div.securitycode{
            //position: relative;
            display: flex;
            flex-direction: column;
            text-align: start;
            align-items: start;
            //width: 100%;
            //margin-right: 4vw;
            label{
              //width: 100%;
              color: #232f62;
              text-align-last: left;
              font-family: Roboto,serif;
              margin-bottom: 1vw;
              @include fonts(16);
            }
            input{
              box-sizing: border-box;
              color: #232f62;
              font-family: Roboto,serif;
              @include fonts(16);
              padding: 0.5vw;
              border-radius: 0.5vw;
              border: 0.4vw solid #dcdcdc;
              width: 50%;
            }
            input#expirationdate{
              width: 100%;
            }
            input#securitycode{
              width: 100%;
            }
          }
          div.securitycode{
            text-align: -webkit-right;
            text-align: right;
            padding-left: 10vw;
          }
          //.expirationdate{
          //width: 120%;
          //}
        }
      }
      &:hover {
        color: #151515;
        @include fonts(5);
        //border: 0.3vw solid #151515;
        //padding: 0.4vw;
        border-radius: 0.5vw;
        //transition: 1s;
      }
    }
  }
}

:host{
  width: 100%;
  margin: auto;
}
section#waves{
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing:border-box;padding:1vw;
  button#authtorization{
    border-radius: 0.5vw;
    width: 100%;
    align-self: center;
    color: #fff;
    background-color: #0c0d0e;
    box-shadow: inset 0 1px 0 #3b4045;
    position: relative;
    padding: 1vw;
    vertical-align: middle;
    min-height: 3vw;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    border: 0.2vw solid transparent;
    cursor: pointer;
    outline: none;
    @include fonts(8);
    font-family: Roboto, serif;
    touch-action: manipulation;
    transition: color .1s ease-in,background-color .1s ease-in,border-color .1s ease-in,box-shadow .1s ease-in;
  }
  div#wrapper{
    @include display(row, wrap, space-between, center, stretch);
    box-sizing: border-box;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 0.5vw;
    text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
    label{
      flex-shrink: 1;
      width: 20vw;
      input, button{
        width: 100%;
        border: 0.1vw solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 0.5vw;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 1vw;
        flex-grow: 1;
        text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
        @include fonts(6);
      }
      input#keeperAddress,input#hasWaves {
        background-color: #eee;
      }
      button#keeperStatus{
        color: white;
        background: #ca3c3c;
      }
    }
    label[for="keeperAddress"],label[for="hasWaves"] {
      width: 24vw;
    }
    margin-bottom: 1vw;
  }
  fieldset{
    @include display(row, nowrap, space-evenly, center, stretch);
    box-sizing: border-box;
    padding: 1vw;
    border: 0.1vw solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 0.5vw;
    text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
      div.pure-control-group{
        margin-bottom: 1vw;
        &:last-child{
          margin-bottom: 0;
        }
        input#withdraw, input#deposit{

          border: 0.1vw solid #ccc;
          box-shadow: inset 0 1px 3px #ddd;
          border-radius: 0.5vw;
          vertical-align: middle;
          box-sizing: border-box;
          padding: 1vw;
          text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
        }
        button#withdrawBtn, button#depositBtn{
          border: 0.1vw solid #ccc;
          box-shadow: inset 0 1px 3px #ddd;
          border-radius: 0.5vw;
          vertical-align: middle;
          box-sizing: border-box;
          padding: 1vw;
          text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.2);
          color: white;
          background-color: #0078e7;
          width: 10vw;
        }
        .pure-button[disabled] {
          border: none;
          background-image: none;
          filter: alpha(opacity=40);
          opacity: .4;
          cursor: not-allowed;
          box-shadow: none;
          pointer-events: none;
        }
      }
  }
}